/*For small screen laptops and large screen laptops */
@media (min-width:948px) {
.Footer-Container{
    max-width: 100%;
    height: 240px;
    background-color: #677478;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.footer-sub-container-1{
    width: 365px;
    height: 129px;
    gap: 10px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}

.footer-sub-container-2{
width: 365px;
height: 29px;
gap: 60px;
display: flex;
justify-content: space-between;
}

.footer-sub-container-2 a{
gap: 0px;
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29.05px;
color: #FFFFFF;
text-decoration: none;
}

.footer-sub-container-3{
    width: 365px;
    height: 159px;
    gap: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
   
}

.footer-sub-container-3 h2{
    font-family:Inter;
    font-weight: 500;
    font-size:24px;
    line-height: 29.05px;
    color: #FFFFFF;
    width: 278px;
    height:29px;
}
.footer-sub-container-3 input{
    width:359px;
    height:67px;
    border:1px solid #FFFFFF;
    border-radius:20px;
    background-color: transparent;
}

.footer-sub-container-3 placeholder{
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29.05px;
color: #FFFFFF;
text-align: left;
width: 62px;
height: 29px;
gap: 0px;


}

.footer-sub-container-1 h2{
width: 92px;
height: 29px;
gap: 0px;
color: #FFFFFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29.05px;

}
.footer-sub-container-1 p{
width: 209px;
height: 30px;
gap: 0px;
color: #FFFFFF;
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 14.52px;
text-align: center;

}
}

/* For ipad and tablet devices */
@media (min-width: 481px) and (max-width: 947px){
    .Footer-Container{
        width: 100%;
        height: 297px;
        background-color: #677478;
        position: relative;
    
    }
    
    .footer-sub-container-1{
        width: 365px;
        height: 129px;
        gap: 10px;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;      
        align-items: center;
        position: absolute;
        top:100px;
        left:0px;
       
    }
    
    .footer-sub-container-2{
    width: 325px;
    height: 29px;
    gap: 40px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:39px;
    left:175px;
    }
    
    .footer-sub-container-2 a{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    color: #FFFFFF;
    text-decoration: none;
    }
    
    .footer-sub-container-3{
        width: 315px;
        height: 159px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top:80px;
        left:470px;
       
    }
    
    .footer-sub-container-3 h2{
        font-family:Inter;
        font-weight: 500;
        font-size:24px;
        line-height: 29.05px;
        color: #FFFFFF;
        width: 278px;
        height:29px;
    }
    .footer-sub-container-3 input{
        width:359px;
        height:67px;
        border:1px solid #FFFFFF;
        border-radius:20px;
        background-color: transparent;
    }
    
    .footer-sub-container-3 placeholder{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    color: #FFFFFF;
    text-align: left;
    width: 62px;
    height: 29px;
    gap: 0px;
    }
    
    .footer-sub-container-1 h2{
    width: 209px;
    height: 29px;
    gap: 0px;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    text-align: center;

    
    }
    .footer-sub-container-1 p{
    width: 209px;
    height: 30px;
    gap: 0px;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;

    
    }
    
}

/*Mobile devices*/
@media (min-width: 320px) and (max-width: 480px) {
    .Footer-Container{
        width: 100%;
        height: 240px;
        background-color: #677478;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    
    }

    .footer-sub-container-1{
        width: 209px;
        height: 129px;
        gap: 10px;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top:8px;
        
    }
    
    .footer-sub-container-2{
    width: 285px;
    height: 29px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top:30px;
    left: 65px;  
    }
    
    .footer-sub-container-2 a{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 29.05px;
    color: #FFFFFF;
    text-decoration: none;
    
    }
    
    .footer-sub-container-3{
        width: 315px;
        height: 159px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top:42px;
    }
    
    .footer-sub-container-3 h2{
        font-family:Inter;
        font-weight: 500;
        font-size:24px;
        line-height: 29.05px;
        color: #FFFFFF;
        width: 278px;
        height:29px;
        display: none;
    }
    .footer-sub-container-3 input{
        width:217px;
        height:51px;
        border:1px solid #FFFFFF;
        border-radius:20px;
        background-color: transparent;
    }
    
    .footer-sub-container-3 placeholder{
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 29.05px;
    color: #FFFFFF;
    text-align: left;
    width: 31px;
    height: 15px;
    
    
    }
    
    .footer-sub-container-1 h2{
    width: 46px;
    height: 15px;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    
    }
    .footer-sub-container-1 p{
    width: 209px;
    height: 30px;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: center;
    
    }
}