*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/*For small screen laptops and large screen laptops */
@media (min-width:948px) {
.Navbar-container{
  max-width:100%;
  height: 100px;
  background-color: #677478;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: relative; */
}

.Logo-container{
  width: 198px;
  height: 73px;
  gap: 0px;
  opacity: 0px;
}

.Links-container{
width: 443px;
height: 15px;
gap: 70px;
opacity: 0px;
}

.icons{
font-size:29px;
}

.Search-Cart-container{
  width:118px;
  height:24px;
  opacity: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Links-container nav{
  display: flex;
  justify-content: space-between;

}

.NavLink{
  font-family: Inter;
 font-size: 12px;
 font-weight: 600;
 line-height: 14.52px;
 text-align: left;
 color: #FFFFFF;
 text-decoration: none;
}

.Logo-container h1{
font-family: Playfair Display;
font-size: 55px;
font-weight: 700;
line-height: 73.32px;
color: #FFFFFF;
margin: auto;
}

.main-section{
  background-color: #EAEAEA;
  width: 100%;
  height: 1388px;

}
.Home-container1{
  max-width: 100%;
  height: 1045px;
  display: flex;
  justify-content: space-evenly;
  /* position: relative; */
  
}

.black-bag{
  width:427px;
  height:538px;
  margin-top: 150px;
  /* position: absolute;
  top:150px;
  left:78px; */
}

.black-bag img{
  width: 100%;
  border-radius:20px;
}

.Latest-collection{
  width: 326px;
  height: 800px;
  margin-top: 136px;
  gap: 0px;
  border-radius: 20px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*position: relative;
  position: absolute;
  top: 126px;
  left: 558px; */

}

.latest-collection-content{
  width:326px;
  height:124px;
  gap: 10px;
  opacity: 0px;
  /* position: absolute;
  top:0;
  left: 34px; */
}
.latest-collection-content h1{
  font-family: Inter;
  font-weight: 700;
  font-size: 38px;
  line-height: 48.41px;
  text-align: center;
}

.latest-collection-content p{
  font-family: Inter;
  font-weight: 300;
  font-size: 18px;
  line-height: 21.78px;
  text-align: center;
}

.white-bag{
  width: 277px;
  height: 388px;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
  margin-top: 180px;
  /* position: absolute;
  top: 305px;
  left:50px; */
}

.white-bag img{
  width: 100%;
  border-radius:20px;
}

.brown-bag{
  width: 474px;
  height: 732px;
  margin-top: 178px;
  /* position: absolute;
  top: 178px;
  left: 888px; */
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
  opacity: 0px;
}

.brown-bag img{
  width: 100%;
  border-radius:20px;
}
.Home-container2{
  width: 793px;
  height: 73px;
  gap: 20px;
  margin-left: 78px;
}

.h2-1{
  
  font-family: Playfair Display;
  font-size: 55px;
  line-height: 73.32px;
  color: #677478;

}

.Span-1{
  width: 575px;
  height: 49px;
  font-family: Montserrat;
  font-size: 40px;
  line-height: 48.76px;
  color: #677478;

}
}

/* For ipad and tablet devices */
@media (min-width: 481px) and (max-width: 947px){
  .Navbar-container{
    max-width:100%;
    height: 100px;
    background-color: #677478;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
  }
  .Logo-container{
    width: 162px;
    height: 60px;
    gap: 0px;
    opacity: 0px;

  }
  
  .Links-container{
  width: 353px;
  height: 15px;
  gap: 40px;
  opacity: 0px;
  }

  .icons{
  font-size:29px;
  }

  .Search-Cart-container{
    width:88px;
    height:26.25px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .Links-container nav{
    display: flex;
    justify-content: space-between;
  
  }
  
  .NavLink{
   font-family: Inter;
   font-size: 12px;
   font-weight: 600;
   line-height: 14.52px;
   text-align: left;
   color: #FFFFFF;
   text-decoration: none;
  }
  
  .Logo-container h1{
  font-family: Playfair Display;
  font-size: 45px;
  font-weight: 700;
  line-height: 59.99px;
  color: #FFFFFF;
  margin: auto;
  }

  .main-section{
    background-color: #EAEAEA;
    max-width: 100%;
    height: 1388px;
  
  }
  .Home-container1{
    width: 100%;
    height: 1045px;
    position: relative;
  }
  
  .black-bag{
    width:277px;
    height:388px;
    position: absolute;
    top:50px;
    left:50px;
  }
  
  .black-bag img{
    width: 100%;
    border-radius:20px;
  }
  
  .Latest-collection{
    width: 326px;
    height: 800px;
    margin-top: 136px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    position: absolute;
    top: -50px;
    left: 417px;
  
  }
  
  .latest-collection-content{
    width:326px;
    height:124px;
    gap: 10px;
    opacity: 0px;
    position: absolute;
    top:-500;
    left: 34px;
  }
  .latest-collection-content h1{
    font-family: Inter;
    font-weight: 700;
    font-size: 38px;
    line-height: 48.41px;
    text-align: center;
  }
  
  .latest-collection-content p{
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: 14.52px;
    text-align: center;
  }

  .white-bag{
    width: 277px;
    height: 288px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
    margin-top: 180px;
    position: absolute;
    top: 397px;
    left:50px;
  }
  
  .white-bag img{
    width: 100%;
    border-radius:20px;
  }
  
  .brown-bag{
    width: 324px;
    height: 582px;
    margin-top: -178px;
    position: absolute;
    top: 560px;
    left: 460px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
  }
  
  .brown-bag img{
    width: 100%;
    border-radius:20px;
  }

  .Home-container2{
    width: 671px;
    height: 73px;
    gap: 20px;
   position: absolute;
   top:1277px;
   left:50px;
  }
  
  .h2-1{
    font-family: Playfair Display;
    font-size: 45px;
    line-height: 59..99px;
    color: #677478;
  
  }
  
  .Span-1{
    width: 575px;
    height: 49px;
    font-family: Montserrat;
    font-size: 40px;
    line-height: 48.76px;
    color: #677478;
  
  }
  
}

/* CART CSS STYLING */
.Cart-h1{
  width:90px;
  height:48px;
  margin: auto; 
  margin-top: 36px;
}
.Cart-h1 h1{
  width:94px;
  height:48px;
  font-family: Inter;
  font-weight: 700;
  font-size: 40px;
  line-height: 48.41px;
  color: #000000;
}
hr{
  width: 100%;
  border: 1px solid #677478;
  margin-top: 36px;
}

.cart-container-1{
  width: 100%;
  height: 347px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
 
}
.cart-sub-container-1{
  width:670px;
  height: 347px;
  gap: 21px;
  border-bottom: 1px solid #677478;
  margin-bottom: 30px;
  
}
.Zaraco-container-1{
  width:642px;
  height:233px;
  gap:11px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.img-1{
  width:221px;
  height:233px;

}
.img-1 img{
  width:100%;
  height:100%;
  border-radius: 20px;
}
.yellow-bag-description{
  width:277px;
  height:176px;
  gap:20px;
  
}
.h3-1{
  width:277px;
  height:29px;
  font-family: Inter;
  font-weight:500;
  font-size:24px;
  line-height:29.05px;
  margin-bottom: 10px;
}

.Art{
  width:277px;
  height:29px;
  font-family: Inter;
  font-weight:300;
  font-size:24px;
  line-height:29.05px;
  color: #000000;
  margin-bottom: 10px;
}

.Colour{
  width:277px;
  height:29px;
  font-family: Inter;
  font-weight:300;
  font-size:24px;
  line-height:29.05px;
  color: #000000;
  margin-bottom: 10px;
}

.Quality{
  width:287px;
  height:29px;
  font-family: Inter;
  font-weight:300;
  font-size:24px;
  line-height:29.05px;
  color: #000000;

}
.price-container-1{
  width:102px;
  height:29px;
  margin-top: -205px;
}
.price-1{
  font-family: Inter;
  font-weight:700;
  font-size:24px;
  line-height:29.05px;
  color: #000000;
}
.remove-container-1{
  width:670px;
  height:93px;
  gap:206px;
  display: flex;
  justify-content:space-between;
}

.add-con{
  width:101px;
  height:49px;
  gap:10px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: 220px;
 margin-top: 15px;

}
.num-1{
 width:52px;
 height:49px;
 border: 1px solid #000000;
 padding: 10px, 20px, 10px, 20px;
 border-radius: 20px;
 gap:10px;
 display: flex;
 justify-content: center;
 align-items: center;

 
}
.sub{
width:12px;
height:29px;
font-family: Inter;
font-weight:600;
font-size:24px;
line-height:29.05px;
color: #000000;

}
.add-sub{
  width:109px;
  height:29px;
  font-family: Inter;
  font-weight:600;
  font-size:24px;
  line-height:29.05px;
  color: #000000;
}
.Remove-1{
  width:133px;
  height:49px;
  padding:10px, 20px, 10px, 20px;
  border-radius: 20px;
  gap:20px;
  background-color: #677478;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Remove-1 h2{
  width:93px;
  height:29px;
  font-family: Inter;
  font-weight:600;
  font-size:24px;
  line-height:29.05px;
  color: #FFFFFF;
  text-align: center;
}
.cart-sub-container-2{
  width:670px;
  height: 257px;
  gap: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Cart-summary-container{
  width:348px;
  height:182px;
  position: relative;
 
}
.Cart-summary-container h3{
  width:348px;
  height:29px;
  font-family: Inter;
  font-weight:700;
  font-size:24px;
  line-height:29.05px;
  color: #000000;
  margin-bottom: 10px;
}
.Cart-summary-container p{
  width:132px;
  height:22px;
  font-family: Inter;
  font-weight:400;
  font-size:18px;
  line-height:21.78px;
  color: #000000;
  margin-bottom: 10px;
  

}
.Cart-summary-container span{
  width:78px;
  height:22px;
  font-family: Inter;
  font-weight:700;
  font-size:18px;
  line-height:21.78px;
  color: #000000;
  position: absolute;
  left:270px;
  

}

.Checkout-1{
  width:348px;
  height:49px;
  background-color: #677478;
  padding:10px, 20px, 10px, 20px;
  border-radius:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Checkout-1 checkout-link{
  width:113px;
  height:29px;
  font-family: Inter;
  font-weight:600;
  font-size:24px;
  line-height:29.05px;
  color: #FFFFFF;
}


/* CHECKOUT PAGE CSS STYLING */
.Checkout-h1{
  width:194px;
  height:48px;
  margin: auto; 
  margin-top: 36px;
}
.Checkout-h1 h1{
  width:94px;
  height:48px;
  font-family: Inter;
  font-weight: 700;
  font-size: 40px;
  line-height: 48.41px;
  color: #000000;
}
hr{
  width: 100%;
  border: 1px solid #677478;
  margin-top: 36px;
}
.Checkout-section{
  width:100%;
  height:1000px;
  display: flex;
 
}
.Contact-details-container{
  flex:1;
  position: relative;
}
.Contact-details-container h3{
  width:179px;
  height:27px;
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.05px;
  color: #000000;
  position: absolute;
  top:0px;
  left:78px;
}
.Contact-detail{
  width:333px;
  height:300px;
  position: absolute;
  top:77px;
  left:18px;
  
}

.First-Name-container, .Email-container, .Home-address-container {
  width:331px;
  height:79px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  /* position: absolute;
  top:70px;
  left:78px; */
  gap:10px;
}

.Contact-detail label{
  width:331px;
  height:29px;
  font-family: Inter;
  font-weight: 300;
  font-size: 24px;
  line-height: 29.05px;
  color: #000000;
}
.Contact-detail input{
  width:332px;
  height:40px;
  border: 1px solid #000000;
  border-radius:20px;

}
.Contact-detail-2{
  width:333px;
  height:300px;
  position: absolute;
  top:77px;
  left:360px;
}
.Contact-detail-2 div {
  width:331px;
  height:79px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Contact-detail-2 label{
  width:331px;
  height:29px;
  font-family: Inter;
  font-weight: 300;
  font-size: 24px;
  line-height: 29.05px;
  color: #000000;
}
.Contact-detail-2 input{
  width:332px;
  height:40px;
  border: 1px solid #000000;
  border-radius:20px;

}

.delivery-method-container{
  width:100%;
  height:400px;
  position:absolute;
  top:381px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.delivery-method-container h3{
  width:200px;
  height:27px;
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.05px;
  color: #000000;
  margin-left: -62px;
  
}
.delivery-method-container div{
  width:706px;
  height:70px;
  gap:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-left: 12px;
}
.delivery-method-container label{
  width:706px;
  height:29px;
  font-family:Inter;
  font-weight:300px;
  font-size:24px;
  line-height:29.05px;
  color: #000000;
}
.delivery-method-container input{
  width:706px;
  height:40px;
  border: 1px solid #000000;
  border-radius:20px;
}
.delivery-method-container placeholder{
  width: 180px;
height: 15px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 12px;
font-weight: 500;
line-height: 14.52px;

}
.Shipping-details{
  width:100%;
  height:400px;
  position:absolute;
  top:781px;
  
}
.Shipping-details h3{
  width:200px;
  height:27px;
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.05px;
  color: #000000;
  margin-left: -62px; 
}

.payment-details{
  width:100%;
  height:500px;
  position:absolute;
  top:1101px;
  
}
.payment-details h3{
  width:200px;
  height:27px;
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.05px;
  color: #000000;
  margin-left: -62px;
}
.payment-details div{
  width:706px;
  height:70px;
  gap:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-left: 12px;
}
.Cart-summary-2{
  flex:1;
 
}
section{
  width:100%;
  height: 1800px;
}

