*{
  margin: 0;
  padding: 20;
  box-sizing: border-box;

}
/*For small screen laptops and large screen laptops */
@media (min-width:948px) {
.Navbar-container{
  max-width:100%;
  height: 100px;
  background-color: #677478;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.Logo-container{
  width: 198px;
  height: 73px;
  gap: 0px;
}

.Links-container{
width: 443px;
height: 15px;
gap: 70px;
}

/* .icons{
font-size:29px;
} */

.Search-Cart-container{
  width:118px;
  height:24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Links-container nav{
  display: flex;
  justify-content: space-between;

}

.NavLink{
font-family: Inter;
 font-size: 11px;
 font-weight: 600;
 line-height: 14.52px;
 text-align: left;
 color: #FFFFFF;
 text-decoration: none;
}

.Logo-container h1{
font-family: Playfair Display;
font-size: 55px;
font-weight: 700;
line-height: 73.32px;
color: #FFFFFF;
margin: auto;
}

.main-section{
  background-color: #EAEAEA;
  width: 100%;
  height: 1400px;

}
.Home-container1{
  max-width: 100%;
  height: 1045px;
  display: flex;
  justify-content: space-evenly;
}

.black-bag{
  width:427px;
  height:538px;
  margin-top: 150px;
}

.black-bag img{
  width: 100%;
  border-radius:20px;
}

.Latest-collection{
  width: 326px;
  height: 800px;
  margin-top: 136px;
  gap: 0px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.latest-collection-content{
  width:326px;
  height:124px;
  gap: 10px;
}
.latest-collection-content h1{
  font-family: Inter;
  font-weight: 700;
  font-size: 38px;
  line-height: 48.41px;
  text-align: center;
}

.latest-collection-content p{
  font-family: Inter;
  font-weight: 300;
  font-size: 18px;
  line-height: 21.78px;
  text-align: center;
}

.white-bag{
  width: 277px;
  height: 388px;
  gap: 0px;
  border-radius: 20px 0px 0px 0px;
  margin-top: 180px;
}

.white-bag img{
  width: 100%;
  border-radius:20px;
}

.brown-bag{
  width: 474px;
  height: 732px;
  margin-top: 178px;
  border-radius: 20px 0px 0px 0px;

}

.brown-bag img{
  width: 100%;
  border-radius:20px;
}
.Home-container2{
  width: 793px;
  height: 73px;
  gap: 20px;
  margin-left: 78px;
}

.h2-1{
  
  font-family: Playfair Display;
  font-size: 55px;
  line-height: 73.32px;
  color: #677478;

}

.Span-1{
  width: 575px;
  height: 49px;
  font-family: Montserrat;
  font-size: 40px;
  line-height: 48.76px;
  color: #677478;

}
}

/* For ipad and tablet devices */
@media (min-width: 481px) and (max-width: 947px){
  .Navbar-container{
    max-width:100%;
    height: 100px;
    background-color: #677478;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
  }
  .Logo-container{
    width: 162px;
    height: 60px;
  }
  
  .Links-container{
  width: 353px;
  height: 15px;
  gap: 40px;
  }

  .icons{
  font-size:29px;
  }

  .Search-Cart-container{
    width:88px;
    height:26.25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .Links-container nav{
    display: flex;
    justify-content: space-between;
  }
  
  .NavLink{
   font-family: Inter;
   font-size: 12px;
   font-weight: 600;
   line-height: 14.52px;
   text-align: left;
   color: #FFFFFF;
   text-decoration: none;
  }
  
  .Logo-container h1{
  font-family: Playfair Display;
  font-size: 45px;
  font-weight: 700;
  line-height: 59.99px;
  color: #FFFFFF;
  margin: auto;
  }

  .main-section{
    background-color: #EAEAEA;
    max-width: 100%;
    height: 1488px;
    
  
  }
  .Home-container1{
    width: 100%;
    height: 1045px;
    position: relative;
  }
  
  .black-bag{
    width:277px;
    height:388px;
    position: absolute;
    top:50px;
    left:50px;
  }
  
  .black-bag img{
    width: 100%;
    border-radius:20px;
  }
  
  .Latest-collection{
    width: 326px;
    height: 800px;
    margin-top: 136px;
    gap: 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -50px;
    left: 417px;
  }
  
  .latest-collection-content{
    width:326px;
    height:124px;
    gap: 10px;
    position: absolute;
    top:-500;
    left: 34px;
  }
  .latest-collection-content h1{
    font-family: Inter;
    font-weight: 700;
    font-size: 38px;
    line-height: 48.41px;
    text-align: center;
  }
  
  .latest-collection-content p{
    font-family: Inter;
    font-weight: 300;
    font-size: 12px;
    line-height: 14.52px;
    text-align: center;
  }

  .white-bag{
    width: 277px;
    height: 288px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    margin-top: 180px;
    position: absolute;
    top: 280px;
    left:-370px;
  }
  
  .white-bag img{
    width: 100%;
    border-radius:20px;
  }
  
  .brown-bag{
    width: 324px;
    height: 582px;
    margin-top: -178px;
    position: absolute;
    top: 560px;
    left: 460px;
    border-radius: 20px 0px 0px 0px;
  }
  
  .brown-bag img{
    width: 100%;
    border-radius:20px;
  }

  .Home-container2{
    width: 671px;
    height: 73px;
    gap: 20px;
    position: absolute;
    top:1277px;
    left:50px;
   
  }
  
  .h2-1{
    font-family: Playfair Display;
    font-size: 45px;
    line-height: 59..99px;
    color: #677478;
  
  }
  
  .Span-1{
    width: 575px;
    height: 49px;
    font-family: Montserrat;
    font-size: 35px;
    line-height: 48.76px;
    color: #677478;
  
  }
  
}

/*Mobile devices*/
@media (min-width: 320px) and (max-width: 480px) {
  .Navbar-container{
    max-width:100%;
    height: 80px;
    background-color: #677478;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
  }
  .Logo-container{
    width: 87px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  .Links-container{
    width: 353px;
    height: 15px;
    gap: 40px;
    display: none;
    }
  
    .icons{
      display: none;
      font-size:159px;
    }
   .icon-large{
    font-size:59px;

   }
    .Search-Cart-container{
      width:83px;
      height:26.25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
 
    }
    
    .Links-container nav{
      display: flex;
      justify-content: space-between;
    
    }
    
    .NavLink{
     font-family: Inter;
     font-size: 12px;
     font-weight: 600;
     line-height: 14.52px;
     text-align: left;
     color: #FFFFFF;
     text-decoration: none;
    }
    
    .Logo-container h1{
    font-family: Playfair Display;
    font-size: 45px;
    font-weight: 700;
    line-height: 59.99px;
    color: #FFFFFF;
    }
  

  .main-section{
    background-color: #EAEAEA;
    width: 100%;
    height: 2088px;
    position: relative;
  
  }
  .Home-container1{
    max-width: 100%;
    height: 1045px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .black-bag{
    width:315px;
    height:264px;
    margin-top: 220px;
  }
  
  .black-bag img{
    width: 100%;
    border-radius:20px;
  }
  
  .Latest-collection{
    width: 326px;
    height: 800px;
    margin-top: 136px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  
  }
  
  .latest-collection-content{
    width:320px;
    height:67px;
    gap: 10px;
    position: absolute;
    top:-550px;
  }
  .latest-collection-content h1{
    font-family: Inter;
    font-weight: 700;
    font-size: 38px;
    line-height: 48.41px;
    text-align: center;
  }
  
  .latest-collection-content p{
    font-family: Inter;
    font-weight: 300;
    font-size: 18px;
    line-height: 21.78px;
    text-align: center;
  }
  
  .white-bag{
    width: 315px;
    height: 390px;
    border-radius: 20px 0px 0px 0px;
    margin-top: 180px;
    
  }
  
  .white-bag img{
    width: 100%;
    border-radius:20px;
  }
  
  .brown-bag{
    width: 315px;
    height: 485px;
    margin-top: 178px;
    border-radius: 20px 0px 0px 0px;
  }
  
  .brown-bag img{
    width: 100%;
    border-radius:20px;
  }
  .Home-container2{
    width: 280px;
    height: 32px;
    gap: 20px;
    position: absolute;
    top:2066;
    left:30px;
    display: none;
  }
  .h2-1{
    width:87px;
    height:32px;
    font-family: Playfair Display;
    font-size: 24px;
    line-height: 31.99px;
    color: #677478; 
  }
  
  .Span-1{
    width: 173px;
    height: 15px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 14.63px;
    color: #677478;
  
  }
}

/* CART CSS STYLING */
/*For small screen laptops and large screen laptops */
@media (min-width:948px) {
  
.Cart-main-container{
  width:100%;
  height:1380px;
}
.Cart-h1{
  width:90px;
  height:48px;
  margin: auto; 
  margin-top: 36px;
}
.Cart-h1 h1{
  width:94px;
  height:48px;
  font-family: Inter;
  font-weight: 700;
  font-size: 40px;
  line-height: 48.41px;
  color: #000000;
}
hr{
  width: 100%;
  border: 1px solid #677478;
  margin-top: 36px;
}

.cart-container-1{
  width: 100%;
  height: 347px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
 
}
.cart-sub-container-1{
  width:670px;
  height: 347px;
  gap: 21px;
  border-bottom: 1px solid #677478;
  margin-bottom: 30px;  
 
}
.Zaraco-container-1{
  width:642px;
  height:233px;
  gap:11px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.img-1{
  width:221px;
  height:233px;

}
.img-1 img{
  width:100%;
  height:100%;
  border-radius: 20px;
}
.yellow-bag-description{
  width:277px;
  height:176px;
  gap:20px;
  
}
.h3-1{
  width:277px;
  height:29px;
  font-family: Inter;
  font-weight:500;
  font-size:24px;
  line-height:29.05px;
  margin-bottom: 10px;
}

.Art{
  width:277px;
  height:29px;
  font-family: Inter;
  font-weight:300;
  font-size:24px;
  line-height:29.05px;
  color: #000000;
  margin-bottom: 10px;
}

.Colour{
  width:277px;
  height:29px;
  font-family: Inter;
  font-weight:300;
  font-size:24px;
  line-height:29.05px;
  color: #000000;
  margin-bottom: 10px;
}

.Quality{
  width:287px;
  height:29px;
  font-family: Inter;
  font-weight:300;
  font-size:24px;
  line-height:29.05px;
  color: #000000;

}
.price-container-1{
  width:102px;
  height:29px;
  margin-top: -205px;
}
.price-1{
  font-family: Inter;
  font-weight:700;
  font-size:24px;
  line-height:29.05px;
  color: #000000;
}
.remove-container-1{
  width:670px;
  height:93px;
  gap:206px;
  display: flex;
  justify-content:space-between;
}

.add-con{
  width:101px;
  height:49px;
  gap:10px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: 220px;
 margin-top: 15px;

}
.num-1{
 width:52px;
 height:49px;
 border: 1px solid #000000;
 padding: 10px, 20px, 10px, 20px;
 border-radius: 20px;
 gap:10px;
 display: flex;
 justify-content: center;
 align-items: center;

 
}
.sub{
width:12px;
height:29px;
font-family: Inter;
font-weight:600;
font-size:24px;
line-height:29.05px;
color: #000000;

}
.add-sub{
  width:109px;
  height:29px;
  font-family: Inter;
  font-weight:600;
  font-size:24px;
  line-height:29.05px;
  color: #000000;
}
.Remove-1{
  width:133px;
  height:49px;
  padding:10px, 20px, 10px, 20px;
  border-radius: 20px;
  gap:20px;
  background-color: #677478;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Remove-1 h2{
  width:93px;
  height:29px;
  font-family: Inter;
  font-weight:600;
  font-size:24px;
  line-height:29.05px;
  color: #FFFFFF;
  text-align: center;
}
 .cart-sub-container-2A{
  width:670px;
  height: 347px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  

} 
.Cart-summary-container{
  width:348px;
  height:182px;
  position: relative;


}
.Cart-summary-container h3{
  width:348px;
  height:29px;
  font-family: Inter;
  font-weight:700;
  font-size:24px;
  line-height:29.05px;
  color: #000000;
  margin-bottom: 10px;
}
.Cart-summary-container p{
  width:132px;
  height:22px;
  font-family: Inter;
  font-weight:400;
  font-size:18px;
  line-height:21.78px;
  color: #000000;
  margin-bottom: 10px;

}
.Cart-summary-container span{
  width:78px;
  height:22px;
  font-family: Inter;
  font-weight:700;
  font-size:18px;
  line-height:21.78px;
  color: #000000;
  position: absolute;
  left:270px;
}

.Checkout-1{
  width:348px;
  height:49px;
  background-color: #677478;
  padding:10px, 20px, 10px, 20px;
  border-radius:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Checkout-1 checkout-link{
  width:113px;
  height:29px;
  font-family: Inter;
  font-weight:600;
  font-size:24px;
  line-height:29.05px;
  color: #FFFFFF;
}
}

/* For ipad and tablet devices */
@media (min-width: 481px) and (max-width: 947px){

  .Cart-main-container{
    width:100%;
    height:1500px;
  }
  .Cart-h1{
    width:90px;
    height:48px;
    margin: auto; 
    margin-top: 36px;
  }
  .Cart-h1 h1{
    width:94px;
    height:48px;
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 48.41px;
    color: #000000;
  }
  hr{
    width: 100%;
    border: 1px solid #677478;
    margin-top: 36px;
  }
  
  .cart-container-1{
    width: 100%;
    height: 347px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
   
  }
  .cart-sub-container-1{
    width:387px;
    height: 291px;
    gap: 20px;
    border-bottom: 1px solid #677478;
  }
  .Zaraco-container-1{
    width:387px;
    height:136px;
    gap:5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
  
  }
  
  .img-1{
    width:133px;
    height:126px;
  }
  .img-1 img{
    width:100%;
    height:100%;
    border-radius: 20px;
  }
  .yellow-bag-description{
    width:184px;
    height:136px;
    gap:20px;
    margin-top: 20px;
    
  }
  .h3-1{
    width:209px;
    height:19px;
    font-family: Inter;
    font-weight:500;
    font-size:16px;
    line-height:19.36px;
    margin-bottom: 5px;
  }
  
  .Art{
    width:211px;
    height:19px;
    font-family: Inter;
    font-weight:300;
    font-size:16px;
    line-height:19.36px;
    color: #000000;
    margin-bottom: 5px;
  }
  
  .Colour{
    width:211px;
    height:19px;
    font-family: Inter;
    font-weight:300;
    font-size:16px;
    line-height:19.36px;
    color: #000000;
    margin-bottom: 5px;
  }
  
  .Quality{
    width:211px;
    height:19px;
    font-family: Inter;
    font-weight:300;
    font-size:16px;
    line-height:19.36px;
    color: #000000;
  
  }
  .price-container-1{
    width:68px;
    height:19px;
    margin-top: -165px;
  }
  .price-1{
    font-family: Inter;
    font-weight:700;
    font-size:16px;
    line-height:19.36px;
    color: #000000;
  }
  .remove-container-1{
    width:386px;
    height:76px;
    gap:100px;
    display: flex;
    justify-content:space-between;;
    align-items: center;
    margin-top: 26px;
  }
  
  .add-con{
    width:101px;
    height:49px;
    gap:10px;
   display: flex;
   justify-content: center;
   align-items: center;
  
  }
  .num-1{
   width:52px;
   height:49px;
   border: 1px solid #000000;
   padding: 10px, 20px, 10px, 20px;
   border-radius: 20px;
   gap:10px;
   display: flex;
   justify-content: center;
   align-items: center;
  
   
  }
  .sub{
  width:12px;
  height:29px;
  font-family: Inter;
  font-weight:600;
  font-size:24px;
  line-height:29.05px;
  color: #000000;
  
  }
  .add-sub{
    width:109px;
    height:29px;
    font-family: Inter;
    font-weight:600;
    font-size:24px;
    line-height:29.05px;
    color: #000000;
  }
  .Remove-1{
    width:110px;
    height:42px;
    padding:10px, 20px, 10px, 20px;
    border-radius: 20px;
    gap:10px;
    background-color: #677478;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Remove-1 h2{
    width:70px;
    height:22px;
    font-family: Inter;
    font-weight:600;
    font-size:18px;
    line-height:21.78px;
    color: #FFFFFF;
    text-align: center;
  }
   .cart-sub-container-2{
      width:387px;
      height: 291px;
      gap: 20px;
      margin-left: 40px;
      border-bottom: 1px solid #677478;
      
  } 
  .cart-sub-container-3{
    width:387px;
    height: 291px;
    gap: 20px;
    margin-left: 40px;
    border-bottom: 1px solid #677478;
    
} 
  .Cart-summary-container{
    width:241px;
    height:170px;
    position: relative;
    margin-top:8px;
   
  
  }
  .Cart-summary-container h3{
    width:241px;
    height:29px;
    font-family: Inter;
    font-weight:700;
    font-size:18px;
    line-height:21.78px;
    color: #000000;
    margin-bottom: 10px;
  }
  .Cart-summary-container p{
    width:119px;
    height:19px;
    font-family: Inter;
    font-weight:400;
    font-size:16px;
    line-height:19.36px;
    color: #000000;
    margin-bottom: 10px;
  
  }
  .Cart-summary-container span{
    width:72px;
    height:19px;
    font-family: Inter;
    font-weight:700;
    font-size:16px;
    line-height:19.36px;
    color: #000000;
    position: absolute;
    left:150px;
  }
  
  .Checkout-1{
    width:241px;
    height:49px;
    background-color: #677478;
    padding:10px, 20px, 10px, 20px;
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .Checkout-1 checkout-link{
    width:113px;
    height:29px;
    font-family: Inter;
    font-weight:600;
    font-size:24px;
    line-height:29.05px;
    color: #FFFFFF;
  }

}

/*Mobile devices*/
@media (min-width: 320px) and (max-width: 480px) {
  .Cart-main-container{
    width:100%;
    height:1480px;
    position: relative;
  }
  .Cart-h1{
    width:57px;
    height:26px;
    margin: auto;
    padding-top: 20px;
  }
  .Cart-h1 h1{
    width:59px;
    height:29px;
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 29.05px;
    color: #000000;
  }
  hr{
    width: 100%;
    border: 1px solid #677478;
    margin-top: 36px;
  }
  
  .cart-container-1{
    width: 100%;
    height: 347px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 20px;
 
   
  }
  .cart-sub-container-1{
    width:317px;
    height: 291px;
    gap: 20px;
    margin-left: 10px;
    border-bottom: 1px solid #677478;
  }
  .Zaraco-container-1{
    width:317px;
    height:136px;
    gap:20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
  
  }
  
  .img-1{
    width:133px;
    height:126px;
  }
  .img-1 img{
    width:100%;
    height:100%;
    border-radius: 20px;
  }
  .yellow-bag-description{
    width:114px;
    height:136px;
    gap:20px;
    margin-top: 20px;
    
  }
  .h3-1{
    width:209px;
    height:19px;
    font-family: Inter;
    font-weight:500;
    font-size:16px;
    line-height:19.36px;
    margin-bottom: 5px;
  }
  
  .Art{
    width:211px;
    height:19px;
    font-family: Inter;
    font-weight:300;
    font-size:16px;
    line-height:19.36px;
    color: #000000;
    margin-bottom: 5px;
  }
  
  .Colour{
    width:211px;
    height:19px;
    font-family: Inter;
    font-weight:300;
    font-size:16px;
    line-height:19.36px;
    color: #000000;
    margin-bottom: 5px;
  }
  
  .Quality{
    width:211px;
    height:19px;
    font-family: Inter;
    font-weight:300;
    font-size:16px;
    line-height:19.36px;
    color: #000000;
  
  }
  .price-container-1{
    width:68px;
    height:19px;
    margin-top: -165px;
  }
  .price-1{
    font-family: Inter;
    font-weight:700;
    font-size:16px;
    line-height:19.36px;
    color: #000000;
  }
  .remove-container-1{
    width:316px;
    height:76px;
    gap:100px;
    display: flex;
    justify-content:space-between;;
    align-items: center;
    margin-top: 35px;
  }
  
  .add-con{
    width:101px;
    height:49px;
    gap:10px;
   display: flex;
   justify-content: center;
   align-items: center;
  
  }
  .num-1{
   width:52px;
   height:49px;
   border: 1px solid #000000;
   padding: 10px, 20px, 10px, 20px;
   border-radius: 20px;
   gap:10px;
   display: flex;
   justify-content: center;
   align-items: center;
  
   
  }
  .sub{
  width:12px;
  height:29px;
  font-family: Inter;
  font-weight:600;
  font-size:24px;
  line-height:29.05px;
  color: #000000;
  
  }
  .add-sub{
    width:109px;
    height:29px;
    font-family: Inter;
    font-weight:600;
    font-size:24px;
    line-height:29.05px;
    color: #000000;
  }
  .Remove-1{
    width:110px;
    height:42px;
    padding:10px, 20px, 10px, 20px;
    border-radius: 20px;
    gap:10px;
    background-color: #677478;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Remove-1 h2{
    width:70px;
    height:22px;
    font-family: Inter;
    font-weight:600;
    font-size:18px;
    line-height:21.78px;
    color: #FFFFFF;
    text-align: center;
  }
   .cart-sub-container-2{
      width:317px;
      height: 291px;
      gap: 30px;
      margin-left: 20px;
      border-bottom: 1px solid #677478;
   
      
  } 
  .cart-sub-container-3{
    width:317px;
    height: 291px;
    gap: 20px;
    margin-left: 30px;
    border-bottom: 1px solid #677478;
    
} 
  .Cart-summary-container{
    width:241px;
    height:170px;
    position: relative;
    margin-top:8px;
    position: absolute;
    top:1120px;
    left:78px;
   
  }
  .Cart-summary-container h3{
    width:241px;
    height:29px;
    font-family: Inter;
    font-weight:700;
    font-size:18px;
    line-height:21.78px;
    color: #000000;
    margin-bottom: 10px;
  }
  .Cart-summary-container p{
    width:119px;
    height:19px;
    font-family: Inter;
    font-weight:400;
    font-size:16px;
    line-height:19.36px;
    color: #000000;
    margin-bottom: 10px;
  
  }
  .Cart-summary-container span{
    width:72px;
    height:19px;
    font-family: Inter;
    font-weight:700;
    font-size:16px;
    line-height:19.36px;
    color: #000000;
    position: absolute;
    left:150px;
  }
  
  .Checkout-1{
    width:241px;
    height:49px;
    background-color: #677478;
    padding:10px, 20px, 10px, 20px;
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:1315px;
    left:78px;
  }
  
  .Checkout-1 checkout-link{
    width:113px;
    height:29px;
    font-family: Inter;
    font-weight:600;
    font-size:24px;
    line-height:29.05px;
    color: #FFFFFF;
  }
}
/* CHECKOUT PAGE CSS STYLING */
/*For small screen laptops and large screen laptops */
@media (min-width:948px) {

.Checkout-Main-section{
 width:100%;
 height:1600px;
 position: relative;
 
} 
.Checkout-h1{
  width:194px;
  height:48px;
  margin: auto;
 padding-top: 20px;
}
.Checkout-h1 h1{
  width: 194px;
  height: 48px;
  font-family: Inter;
  font-weight: 700;
  font-size: 40px;
  line-height: 48.41px;
  color: #000000;
  
}

hr{
  width: 100%;
  border: 1px solid #677478; 
}
.Checkout-section{
  width:100%;
  display: flex;

}
.Cart-summary-2{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
 
 
}

.Contact-details-container{
  flex:1;
  height: 1500px;
  position: relative;

 
}
.First-contact-container{
  width:100%;
  height:250px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  
}
.Contact-details-container h3{
  width:199px;
  height:27px;
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.05px;
  color: #000000;
  padding-top: 10px;
  padding-left: 21px;
}
.Contact-detail{
  width:313px;
  height:200px;
 
}

.First-Name-container, .Email-container, 
.Home-address-container {
  width:312px;
  height:79px;
  display: flex;
  flex-direction: column;
  gap:20;

}

.Contact-detail label{
  font-family: Inter;
  font-weight: 300;
  font-size: 20px;
  line-height: 29.05px;
  color: #000000;
}
.Contact-detail input{
  width:312px;
  height:40px;
  border: 1px solid #000000;
  border-radius:20px;
  background-color: transparent;

}
.Contact-detail-2{
  width:313px;
  height:200px;

}
.Contact-detail-2 div {
  width:312px;
  height:79px;
  gap:20;
}
.Contact-detail-2 label{
  font-family: Inter;
  font-weight: 300;
  font-size: 20px;
  line-height: 29.05px;
  color: #000000;
}
.Contact-detail-2 input{
  width:312px;
  height:40px;
  border: 1px solid #000000;
  border-radius:20px;
  background-color: transparent;
}

.delivery-method-container{
  width:100%;
  height:250px;
  margin-top: 10px;
  padding-left: 25px;
}
.delivery-method-container h3{
  width:230px;
  height:27px;
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.05px;
  color: #000000;
  padding-top: 10px;
 
}
.delivery-cont1{
  width:640px;
  height:70px;
  gap:5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;

}
.Standard-delivery{
  width:640px;
  height:70px;
  gap:5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.delivery-method-container label{
  width:626px;
  height:29px;
  font-family:Inter;
  font-weight:300px;
  font-size:20px;
  line-height:29.05px;
  color: #000000;
}
.delivery-method-container input{
  width:640px;
  height:40px;
  border: 1px solid #000000;
  border-radius:20px;
  background-color: transparent;
}
.delivery-method-container placeholder{
width: 180px;
height: 15px;
font-family: Inter;
font-size: 12px;
font-weight: 500;
line-height: 14.52px;

}
.Shipping-details{
  width:100%;
  height:220px;
  margin-top: 10px;
}

.Shipping-details h3{
  width:291px;
  height:27px;
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.05px;
  color: #000000;
 
}

.payment-details{
  width:100%;
  height:550px;
  margin-top: 20px;
  padding-left: 25px;
 
  
}
.payment-details h3{
  width:230px;
  height:27px;
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.05px;
  color: #000000;
  
}
.Card-type{
  width:640px;
  height:70px;
  gap:5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}
.Card-type label{
  width:626px;
  height:29px;
  font-family:Inter;
  font-weight:300px;
  font-size:20px;
  line-height:29.05px;
  color: #000000;
}
.Card-type input{
  width:626px;
  height:40px;
  border: 1px solid #000000;
  border-radius:20px;
  background-color: transparent;
}
.Card-detail{
  width:100%;
  height:150px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.Visa{
  width:626px;
  height:40px;
  gap:10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Visa input{
  width:640px;
  height:40px;
  border: 1px solid #000000;
  border-radius:20px;
  padding:5px,9px,5px,9px;
  background-color: transparent;
}

a{
  width:460px;
  height:22px;
  font-family:Inter;
  font-weight:400px;
  font-size:18px;
  line-height:21.78px;
  color: #000000;
  text-decoration:none;
  padding-left: 5px;

}
.cart-main-container{
 width: 500px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 20px;
}
.cart-summary-2{
  width:474px;
  height:239px;
  border-bottom: 1px solid #677478;

}
.cart-summary-3{
  width:474px;
  height:239px;
  
}
.cart-summary-4{
  width:474px;
  height:239px;
  
}
.cart-summary-5{
  width:474px;
  height:382px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.Zaraco-container-2{
  width:474px;
  height:156px;
  gap:11px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.img-2{
  width:166px;
  height:156px;
 

}
.img-2 img{
  width:100%;
  height:100%;
  border-radius: 20px;
}
.yellow-bag-description2{
  width:211px;
  height:138px;
  gap:20px;
  
}
.h3-2{
  width:211px;
  height:22px;
  font-family: Inter;
  font-weight:500;
  font-size:18px;
  line-height:21.78px;
  margin-bottom: 10px;
}

.Art-2{
  width:211px;
  height:22px;
  font-family: Inter;
  font-weight:300;
  font-size:18px;
  line-height:21.78px;
  color: #000000;
  margin-bottom: 10px;
}

.Colour2{
  width:211px;
  height:22px;
  font-family: Inter;
  font-weight:300;
  font-size:18px;
  line-height:29.05px;
  color: #000000;
  margin-bottom: 10px;
}

.Quality2{
  width:211px;
  height:22px;
  font-family: Inter;
  font-weight:300;
  font-size:18px;
  line-height:21.78px;
  color: #000000;

}
.price-container-2{
  width:77px;
  height:22px;
  margin-top: -155px;
 

}
.price-2{
  font-family: Inter;
  font-weight:700;
  font-size:18px;
  line-height:21.78px;
  color: #000000;
}
.remove-container-2{
  width:211px;
  height:73px;
  gap:90px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  margin-top: -35px;
 
}

.add-con{
  width:91px;
  height:42px;
  gap:10px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.num-1{
 width:49px;
 height:42px;
 border: 1px solid #000000;
 padding: 10px, 20px, 10px, 20px;
 border-radius: 20px;
 gap:10px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 21.78px;
text-align: left;
 
}
.sub{
width:13px;
height:22px;
font-family: Inter;
font-weight:600;
font-size:18px;
line-height:21.78px;
color: #000000;

}

.Remove-2{
  width:110px;
  height:42px;
  padding:10px, 20px, 10px, 20px;
  border-radius: 20px;
  gap:10px;
  background-color: #677478;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Remove-2 h2{
  width:70px;
  height:22px;
  font-family: Inter;
  font-weight:600;
  font-size:15px;
  line-height:21.78px;
  color: #FFFFFF;
  text-align: center;
}
}

